<button
  [type]="type()"
  [disabled]="disabled()"
  [ngClass]="{
    primary: variant() === 'primary',
    secondary: variant() === 'secondary',
    danger: variant() === 'danger',
    warning: variant() === 'warning',
    success: variant() === 'success',
    ' button-l': size() === 'large',
    ' button-m': size() === 'medium',
    ' button-s': size() === 'small',
    outline: outline(),
    button: true
  }"
  (click)="click()"
>
  @if (!loading()) {
  <span> {{ title() }}</span>
  } @else {
  <i class="fa" [ngClass]="{ 'fa-spin fa-spinner': loading() }"></i>
  }
</button>
