

:root{  
--primary : $primary
--primary-outline : $primary-outline;
--primary-light : $primary-light;
--primary-dark : $primary-dark;
--primary-active : $primary-active;
--primary-hover : $primary-hover;
--primary-focus : $primary-focus;
--primary-disabled : $primary-disabled;
--primary-text : $primary-text;

// ------------------SECONDARY------------------
--secondary : $secondary;
--secondary-outline : $secondary-outline;
--secondary-light : $secondary-light;
--secondary-dark : $secondary-dark;
--secondary-active : $secondary-active;
--secondary-hover : $secondary-hover;
--secondary-focus : $secondary-focus;
--secondary-disabled : $secondary-disabled;
--secondary-text : $secondary-text;

// ------------------SUCCESS------------------
--success : $success;
--success-outline : $success-outline;    
--success-light : $success-light;
--success-dark : $success-dark;
--success-active : $success-active;
--success-hover : $success-hover;
--success-focus : $success-focus;
--success-disabled : $success-disabled;
--success-text : $success-text;

// ------------------DANGER------------------
--danger : $danger;
--danger-outline : $danger-outline;    
--danger-light : $danger-light;
--danger-dark : $danger-dark;
--danger-active : $danger-active;
--danger-hover : $danger-hover;
--danger-focus : $danger-focus;
--danger-disabled : $danger-disabled;
--danger-text : $danger-text;

// ------------------WARNING------------------
--warning : $warning;
--warning-outline : $warning-outline;    
--warning-light : $warning-light;
--warning-dark : $warning-dark;
--warning-active : $warning-active;
--warning-hover : $warning-hover;
--warning-focus : $warning-focus;
--warning-disabled : $warning-disabled;
--warning-text : $warning-text;
}