// ------------------PRIMARY------------------
$primary: #0d6efd;
$primary-outline: #0d6efd;
$primary-light: #132d55;
$primary-dark: #0d6efd;
$primary-active: #071a36;
$primary-hover: #327ff3;
$primary-focus: #0d6efd;
$primary-disabled: #363636;
$primary-text: #ffffff;

// ------------------SECONDARY------------------
$secondary: #6c757d;
$secondary-outline: #6c757d;
$secondary-light: #dae4ec;
$secondary-dark: #101a22;
$secondary-active: #6c757d;
$secondary-hover: #2674b8;
$secondary-focus: #6c757d;
$secondary-disabled: #6c757d;
$secondary-text: #ffffff;

// ------------------SUCCESS------------------
$success: #198754;
$success-outline: #198754;
$success-light: #198754;
$success-dark: #198754;
$success-active: #198754;
$success-hover: #198754;
$success-focus: #198754;
$success-disabled: #198754;
$success-text: #ffffff;

// ------------------DANGER------------------
$danger: #dc3545;
$danger-outline: #dc3545;
$danger-light: #dc3545;
$danger-dark: #dc3545;
$danger-active: #dc3545;
$danger-hover: #dc3545;
$danger-focus: #dc3545;
$danger-disabled: #dc3545;
$danger-text: #ffffff;

// ------------------WARNING------------------
$warning: #ffc107;
$warning-outline: #ffc107;
$warning-light: #ffc107;
$warning-dark: #ffc107;
$warning-active: #ffc107;
$warning-hover: #ffc107;
$warning-focus: #ffc107;
$warning-disabled: #ffc107;
$warning-text: #ffffff;
