@use "../../style/modes.scss";
@use "../../style/colors.scss";
.button {
  &.primary {
    background-color: var(--button-primary);
    border-color: var(--button-primary);
    color: var(--white);

    &:hover {
      background-color: var(--button-primary-hover);
      border-color: var(--button-primary-hover);
    }

    &:active {
      background-color: var(--button-primary-active);
      border-color: var(--button-primary-active);
    }

    &:disabled {
      background-color: var(--button-primary-disabled);
      border-color: var(--button-primary-disabled);
    }

    &.outline {
      background-color: transparent;
      border-color: var(--button-primary);
      color: var(--button-primary);
      &:hover {
        background-color: transparent;
        border-color: var(--button-primary);
        color: var(--white);
      }
    }
  }

  &.secondary {
    background-color: var(--button-secondary);
    border-color: var(--button-secondary);
    color: var(--white);

    &:hover {
      background-color: var(--button-secondary-hover);
      border-color: var(--button-secondary-hover);
    }

    &:active {
      background-color: var(--button-secondary-active);
      border-color: var(--button-secondary-active);
    }

    &:disabled {
      background-color: var(--button-secondary-disabled);
      border-color: var(--button-secondary-disabled);
    }
  }
  &.success {
    background-color: var(--button-success);
    border-color: var(--button-success);
    color: var(--white);

    &:hover {
      background-color: var(--button-success-hover);
      border-color: var(--button-success-hover);
    }

    &:active {
      background-color: var(--button-success-active);
      border-color: var(--button-success-active);
    }

    &:disabled {
      background-color: var(--button-success-disabled);
      border-color: var(--button-success-disabled);
    }
    &.outline {
      background-color: transparent;
      border-color: var(--button-secondary);
      color: var(--button-secondary);
      &:hover {
        background-color: transparent;
        border-color: var(--button-secondary);
        color: var(--white);
      }
    }
  }
  &.danger {
    background-color: var(--button-danger);
    border-color: var(--button-danger);
    color: var(--white);

    &:hover {
      background-color: var(--button-danger-hover);
      border-color: var(--button-danger-hover);
    }

    &:active {
      background-color: var(--button-danger-active);
      border-color: var(--button-danger-active);
    }

    &:disabled {
      background-color: var(--button-danger-disabled);
      border-color: var(--button-danger-disabled);
    }
    &.outline {
      background-color: transparent;
      border-color: var(--button-danger);
      color: var(--button-danger);
      &:hover {
        background-color: transparent;
        border-color: var(--button-danger);
        color: var(--white);
      }
    }
  }
  &.warning {
    background-color: var(--button-warning);
    border-color: var(--button-warning);
    color: var(--white);

    &:hover {
      background-color: var(--button-warning-hover);
      border-color: var(--button-warning-hover);
    }

    &:active {
      background-color: var(--button-warning-active);
      border-color: var(--button-warning-active);
    }

    &:disabled {
      background-color: var(--button-warning-disabled);
      border-color: var(--button-warning-disabled);
    }
    &.outline {
      background-color: transparent;
      border-color: var(--button-warning);
      color: var(--button-warning);
      &:hover {
        background-color: transparent;
        border-color: var(--button-warning);
        color: var(--white);
      }
    }
  }
}
