@use "../../../assets/color/mixins.scss" as *;

.error-message {
  color: var(--danger);
  font-size: 0.8em;
  margin-top: 5px;
}

.input-container {
  @include form-control;

  & > i {
    margin-inline: 5px;
  }

  .input {
    flex: 1;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 30px;
    padding: 1rem 0.75rem;
    &:not(:placeholder-shown) {
      padding-top: 2.3rem;
      padding-bottom: 1rem;
    }
  }

  .placeholder-label {
    position: absolute;
    left: 0;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: top left;
    transition: transform 0.1s ease-in-out;
    color: #ccc;
    margin-left: 30px;
  }

  .input:focus + .placeholder-label,
  .input.has-value + .placeholder-label {
    color: var(--text-color);
    transform: scale(0.85) translateY(-0.5rem) translateX(0.2rem);
    font-weight: 600;
  }

  &[aria-icon="false"] {
    .input:focus + .placeholder-label,
    .input.has-value + .placeholder-label {
      margin-left: 0;
      transform: scale(0.85) translateY(-0.5rem) translateX(6px);
    }
    .input:not(:focus) + .placeholder-label,
    .input:not(.has-value) + .placeholder-label {
      margin-left: 0;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// scale(0.85) translateY(-0.5rem) translateX(-1.7rem)
