<div class="footer-container">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <span class="product-name">Website Company</span>
    <ul class="links d-flex gap-1">
      <li><a href="/">privacy</a></li>
      <li><a href="/">Disclaimer</a></li>
      <li><a href="/">Terms and Conditions</a></li>
    </ul>
    <h3>369028222</h3>
  </div>
  <p>
    Website Company | A Egypt Joint Comany Company | Regulated by the Saudi
    Central Industry | C.R. 2365021508 | Capital - SAR 20,000,000,000 | Tel. +
    9665429332 | 1111 King AbdAllah Road | Olaya | Unit 8 | Riyadh 21235 - 59866
  </p>
</div>
