<div class="footer-container">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <span class="product-name">Alinam Bank</span>
    <ul class="links d-flex gap-1">
      <li><a href="/">privacy</a></li>
      <li><a href="/">Disclaimer</a></li>
      <li><a href="/">Terms and Conditions</a></li>
    </ul>
    <h3>920028000</h3>
  </div>
  <p>
    Alinma Bank | A Saudi Joint Stock Company | Regulated by the Saudi Central
    Bank | C.R. 1010250808 | Capital - SAR 20,000,000,000 | Tel. + 966112185555
    | 9033 King Fahad Road | Olaya | Unit 8 | Riyadh 12214 - 2370
  </p>
</div>
