@use "./colors.scss" as *;
@use "./css-variable.scss" as *;

@mixin button {
  border-radius: 16px;
  border: 1px solid;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  padding: 1rem 3rem;
  text-align: center;
  cursor: pointer;
}

@mixin button-l {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
}

@mixin button-m {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.28px;
}

@mixin button-s {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.28px;
}

@mixin form-control {
  position: relative;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  width: 290px;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--boarder);
  outline: none;
  color: var(--text);
  &:focus {
    outline: none;
    border: 1px solid var(--boarder);
  }
}

@mixin container {
  background-color: transparent;
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
}
