:root {
  --transition: background-color 0.3s ease;
  --transition-hover: background-color 0.2s ease;
  --transition-focus: background-color 0.1s ease;
  --transition-disabled: background-color 0.2s ease;
  --transition-color: color 0.3s ease;
  --transition-color-hover: color 0.2s ease;
  --transition-color-focus: color 0.1s ease;
  --transition-color-disabled: color 0.2s ease;
}
